.homePage{
  display: block;
  width:60%;
  margin-left: 19%;
  margin-top: 10%;
}
.newGame div, .enterKey div{
  display: inline-block;
  width:45%;
}
.homePage input , .homePage button{
  margin-top: 11%;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  color: maroon;
}
#newConnect {
  background-color: black;
  height:65px;
  width:90px;
  box-shadow: 0 0 0 4px lightgrey inset;
  border: 2px black solid;
}
.homePage input {
    width:202px;
    height:56px;
    box-shadow: 0 0 0 3px grey inset;
    border: 3px black solid;
    font-size: 1.5rem;
}

/*button{
  background-color: teal;
  color:white;
}*/
.homePage button{
    font-size: 1.4rem;
}
.new{
  height:125px;
  width:125px;
  box-shadow: 0 0 0 4px lightgrey inset;
  border: 2px black solid;
    background-color: black;
  /*margin-top: -5%;*/
  -webkit-animation: growSpin 2200ms ease-out;
}
/*  does the cannon ball thing  */
@-webkit-keyframes growSpin{
0% {-webkit-transform: scale(.5) translateX(700%) ; background-color: black; border-radius: 100%; border:none;}
30%{ -webkit-transform: scale(.7) translateY(-250%) translateX(100%) ; background-color: black; border-radius: 100%; border:none;}
60%{ -webkit-transform: scale(.7) rotateZ(360deg);}
100% {	-webkit-transform: scale(.99) rotateZ(-360deg) ;}
}

.hidden>form {
    display:none;
    width:45%;
}

.visible>form {
    display:inline-block;
    -webkit-animation: left 350ms ease-out;
}
.visible>button{
  z-index: 0;

  background-image: url("./images/pirateflag.png");
  background-repeat:no-repeat;
  background-size: 100px 100px;
  background-position: center center;
}


@-webkit-keyframes left{
0% {	-webkit-transform:translateZ(-500%); opacity: .2}
90%{-webkit-transform:translateX(50%);opacity: .5}
100% {	-webkit-transform:translateX(0%); opacity: 1}
}
