.realRules{
  display: block;
  width:60%;
  margin-left: 19%;

}

.rulersOne , .rulersTwo , .rulersThree , .rulersFour{
  opacity: .5;
    width:100%;
    margin-top: -3px;
}


.gotIt {
    background-color: maroon;
    height: 80px;
    width: 162px;
    box-shadow: 0 0 0 4px black inset;
    border: 2px grey solid;
    margin-left: 61%;
    z-index: 2;
    position: absolute;
    margin-top: -87px;
    font-size: 2rem;
    border-radius: 5px;
}
