.rulesPage{
  display: block;
  width:60%;
  margin-left: 19%;

}
.rulesPage img{
  width:100%;
  margin-left: -60px
}

.learn{

  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  color: maroon;
}
.continue{

  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  color: maroon;
}

.rulesPage button{
    font-size: 1.4rem;
    margin: 5%;
    display: inline-block;
    width:25%;
    margin-top: 10%;
}
.learn{
  height:155px;
  width:155px;
  box-shadow: 0 0 0 4px lightgrey inset;
  border: 2px black solid;
    background-color: black;
  -webkit-animation: growSpins 2200ms ease-out;
}

/*@-webkit-keyframes growSpins{
0% {-webkit-transform: scale(.5) translateX(700%) ; background-color: black; border-radius: 100%; border:none;}
30%{ -webkit-transform: scale(.7) translateY(-250%) translateX(100%) ; background-color: black; border-radius: 100%; border:none;}
60%{ -webkit-transform: scale(.7) rotateZ(360deg);}
100% {	-webkit-transform: scale(.99) rotateZ(-360deg) ;}
}*/

.continue{
  height:155px;
  width:155px;
  box-shadow: 0 0 0 4px lightgrey inset;
  border: 2px black solid;
    background-color: black;
  -webkit-animation: growSpinss 2900ms ease-out;
}
/*@-webkit-keyframes growSpinss{
0% {-webkit-transform: scale(.5) translateX(500%) ; background-color: black; border-radius: 100%; border:none;}
30%{ -webkit-transform: scale(.7) translateY(-350%) translateX(100%) ; background-color: black; border-radius: 100%; border:none;}
60%{ -webkit-transform: scale(.7) rotateZ(360deg);}
100% {	-webkit-transform: scale(.99) rotateZ(-360deg) ;}
}*/
